body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color:blue;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1; /* This allows the container to grow to fill the remaining space */
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    flex-shrink: 0; /* Prevents the footer from shrinking */
}



button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    animation: glow 1s ease infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #007bff;
    }
    100% {
        box-shadow: 0 0 20px #0056b3, 0 0 30px #0056b3, 0 0 40px #0056b3;
    }
}

